<% layout("/layouts/boilerplate.ejs") %>
<body>
    <!-- <h1>WanderStay</h1> -->
     <div class="row">
        <% for(let listing of listings){ %>
            <div class="col col-md-4"> 
                <div class="card listing-card" style="width: 50vh;">
                    <a class="h-card-link" href="/listings/<%= listing._id %>">
                        <img class="card-img-top" src="<%= listing.image.url %>" alt="Card image cap">
                    </a>
                    <div class="card-img-overlay">hi</div>
                        <div class="card-body">
                            
                            <h5 class="card-title"><%= listing.title %></h5>
                            <p class="card-text"><%= listing.description %></p>
                        
                        </div>
                </div>
             </div>
        <% } %>
     </div>
</body>
</html>